.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link,
.navLink {
  color: white !important;
  text-decoration: none;
  margin: 32px;
}

.navLink:hover {
  color: cadetblue !important;
}

nav {
  margin-top: 48px;
  float: right;
}

.section {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 100px;
  clear: right;
}

button {
  font-size: 32px;
  border-radius: 10%;
}

.address-container {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin: 0 5%;
}

.address-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-title {
  font-weight: bold;
  font-size: 20px;
}

.address-line {
  white-space: pre-line;
  font-family: 'Times New Roman', Times, serif;
}


.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.group-row {
  display: flex;
  justify-content: center;
}

.player-list {
  margin: 20px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}
